.usersPhoto{
  max-width: 45px;
  border-radius: 10px;
  margin-top: 25px;
}

.selectedPage{
  color: white;
  padding: 1px 1px;
  border: 1px solid white;
  margin-left: 3px;
}

.paginationItem{
  margin-left: 3px;
}